<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Incendiary Auth Portal</title>
</head>
<body>
    @RenderBody()

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
</body>
</html>