@{
    Layout = "_Layout";
    // TODO: consider adding client-side validation to this page
}

@section Scripts {
    <script src="~/custom/auth/user.js"></script>
}

@model IncendiaryAuth.Domain.Abstract.Models.UserAuthModel

<link href="~/custom/auth/user.css" rel="stylesheet" />

<div class="content">
    <form class="inputForm" id="form">
        <div class="inputGroup">
            <label asp-for="UserName"></label>
            <input asp-for="UserName">
            <span class="validationError" asp-validation-for="UserName"></span>
        </div>
        <div class="inputGroup">
            <label asp-for="Password"></label>
            <input asp-for="Password">
            <span class="validationError" asp-validation-for="Password"></span>
        </div>
        <button class="button" type="submit" onclick="send(event)">Log in</button>
    </form>
    <div class="resultMessage hidden">
        <p class="messageText" id="message"></p>
        <button class="button" type="submit" onclick="back(event)">Back</button>
    </div>
</div>